# Python cache and build files
__pycache__/
*.py[cod]
.pytest_cache/
*.egg-info/
*.log


# Virtual environment
.venv/
venv/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
